@import "scss/sidebar.scss" ;
@import "scss/navbar.scss";

/* General stuff */
body{
   font-family: 'Barlow', sans-serif;
   background-color: #4c566a;
   color:white;
   overflow-x: hidden;
}
a{
   color:#a1c4fd;
   text-decoration: none;
}
.loader{
   display: flex;
   justify-content: center;
   padding-top: 200px;
}
.page{
   padding-top: 25px;
   overflow-x: hidden;
}
.toolsButton{
   background-color: #434c5e;
   border: 0px;
   color:white;
   font-size: 14px;
   padding:5px 10px;
   border-radius: 4px;
}
.toolsButton:hover{
   opacity: 0.8;
}
.textForm{
   padding:5px 15px;
   font-size: 14px;
   border: 0px;
   border-radius: 4px;
   color:white;
   background-color: #434c5e;
}






/* Book list */
.title-bar{
   display: grid;
   grid-template-columns: 95% 5%;
   align-items:center;
}
.book-card > a{
   color:white;
}
.title{
   font-weight: 600;
}
.author{
   margin-top:-17px;
}

.layout-grid{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(0,180px));
   margin-bottom: 50px;
   gap:10px;
}
.layout-grid > .book-card{
   width: 185px;
   text-align: center;
   background-color: #434c5e;
   padding-top:30px;
   padding-bottom: 10px;
   border-radius:6px;
}
.layout-grid > .book-card > a > div > div > img{
   height: 150px;
}


.layout-list{
   display: flex;
   flex-direction: column;
}
.layout-list > .book-card{
   background-color: #434c5e;
   margin-bottom:10px;
   border-radius:6px;
   width: 98%;
}
.layout-list > .book-card > a > .book-card-container{
   display: flex;
   gap:10px;
   align-items: center;
}

.layout-list > .book-card > a > div > div > img{
   height: 120px;
   padding: 20px;
}

/* Single page */
.author-title{
   font-weight: 400;
   font-size: 20px;
}
.book-title-container{
   margin-bottom:20px;
}
.title-book{
   text-align: center;
}
#author-name{
   color:#bdd2ff
}
.book-cover{
   height: 250px;
   padding-top:30px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.book-details-container{
   display: grid;
   grid-template-columns: repeat(2, 50%);
   gap:20px;
   margin-bottom: 50px;
}

/* buttons */
.buttons-container{
   text-align: center;
}
.book-actions{
   border:0px;;
   color:#2e3440;
   font-size: 14px;
   padding: 8px 35px;
   border-radius: 6px;
   font-weight: 600;
}
.add{
   background-color: #81a1c1;
}
.read{
   background-color:#a1ffa1;
}
.favorite{
   background-color: #ffe896;
}


/* Media query */
@media(max-width:550px){
   #navbarBrand{
      display: none;
   }
   .sidebar{
      display:none;
   }
   .page{
      padding-left: 0px;
   }
   .book-list{
      display: grid;
      grid-template-columns: repeat(1, 100%);
   }
   .layout-grid > .book-card{
      width:100%;
      justify-self: center;
   }
   .book-details-container{
      display: grid;
      grid-template-columns: repeat(1, 100%);
   }
   .buttons-container{
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap:5px;
   }
   .title-bar{
      grid-template-columns: 90% 10%;
   }
}

@media(max-width:370px){
   #loginButton, #navForm{
      display: none;
   }
   #alternativeButton{
      display: block;
   }
}