.centered-welcome{
   display: flex;
   align-items: center;
   justify-content: center;
   height:calc(100vh - 450px);
   overflow-y: hidden;
   margin:0;
}
.centered-welcome h2, .centered-welcome p{
   opacity: 0.3;
}
.centered-welcome div{
   text-align: center;
}
.centered-welcome p{
   margin-top: -15px;
   line-break: auto;
}
.textForm{
   max-width: 300px;
   text-align: left;
}
.searchBar-alt input{
   width: 75vw;
}
.mobile-welcome{
   display: none;
}