/* Navbar */
nav{
   z-index: 2;
	width: 100%;
   position: fixed;
   top:0;
   left:0;
   background-color: #2e3440;
   height: 45px;

   display: flex;
   justify-content: space-between;
	align-items: center;
}
.navbar-right, .navbar-left{
   margin: 10px;
}
#navbarBrand{
   color:white;
   text-decoration: none;
   font-size: 20px;
   font-weight: 500;
   margin-left: 10px;
   position: relative;
   top:3px
}
code{
   font-size: 17px;
}